@charset "UTF-8";
/* line 4, ../scss/docs.scss */
.yyui-docs-masthead {
  position: relative;
  padding: 80px 0;
  margin-bottom: 60px;
  color: #CEEDE5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #2EC6A0;
  background-image: linear-gradient(to bottom, #2ec6a0 0px, #74edce 100%);
  background-repeat: repeat-x;
}
/* line 14, ../scss/docs.scss */
.yyui-docs-masthead h1 {
  font-size: 60px;
}
/* line 18, ../scss/docs.scss */
.yyui-docs-masthead .yyui-docs-log {
  display: inline-block;
  height: 144px;
  width: 144px;
  margin: 0 auto 30px;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: 108px;
  line-height: 144px;
}
/* line 30, ../scss/docs.scss */
.yyui-docs-masthead .lead {
  width: 80%;
  font-size: 30px;
  margin: 0 auto 50px;
}

/* line 37, ../scss/docs.scss */
.yyui-docs-feature {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #fff;
  color: #555;
}
/* line 42, ../scss/docs.scss */
.yyui-docs-feature p {
  text-align: justify;
}
/* line 46, ../scss/docs.scss */
.yyui-docs-feature img {
  display: block;
  margin: 0 auto;
  height: 130px;
}

/* line 53, ../scss/docs.scss */
.yyui-docs-section {
  margin-bottom: 60px;
}

/* line 57, ../scss/docs.scss */
.yyui-docs-title {
  color: #333;
  font-size: 40px;
}

/* line 62, ../scss/docs.scss */
.yyui-docs-example {
  width: 100%;
  margin-bottom: 20px;
}
/* line 66, ../scss/docs.scss */
.yyui-docs-example .yyui-docs-surface,
.yyui-docs-example .yyui-docs-code {
  position: relative;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
/* line 76, ../scss/docs.scss */
.yyui-docs-example .yyui-docs-surface:before,
.yyui-docs-example .yyui-docs-code:before {
  font-size: 14px;
  font-weight: 500;
  color: #818a91;
}
/* line 83, ../scss/docs.scss */
.yyui-docs-example .yyui-docs-surface {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 86, ../scss/docs.scss */
.yyui-docs-example .yyui-docs-surface:before {
  content: "板栗：";
  display: block;
  margin-bottom: 20px;
}
/* line 93, ../scss/docs.scss */
.yyui-docs-example .yyui-docs-code {
  margin-top: -1px;
  background-color: #3f3f3f;
  border: 1px solid #3f3f3f;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 100, ../scss/docs.scss */
.yyui-docs-example .yyui-docs-code .yyui-docs-copy {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  box-shadow: 1px 1px 4px #262626;
}
/* line 110, ../scss/docs.scss */
.yyui-docs-example .yyui-docs-code .yyui-docs-copy:hover {
  background-color: #2EC6A0;
  border-color: #2EC6A0;
  cursor: pointer;
  box-shadow: 1px 1px 4px #249d7f;
}
/* line 118, ../scss/docs.scss */
.yyui-docs-example .yyui-docs-code pre {
  border: 0;
}

/* line 125, ../scss/docs.scss */
.yyui-docs-note {
  padding: 24px 20px 20px 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E0EDED;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 60px, #abced4 60px, #abced4 62px, rgba(0, 0, 0, 0) 62px), linear-gradient(#d1e5e5 0.1em, rgba(0, 0, 0, 0) 0.1em);
  background-size: 100% 23px;
  color: #373a3c;
  font-size: 14px;
  line-height: 23px;
}
/* line 138, ../scss/docs.scss */
.yyui-docs-note p {
  margin-bottom: 0;
  text-indent: 2em;
}

/* line 144, ../scss/docs.scss */
.yyui-docs-footer {
  font-size: .85em;
}
/* line 147, ../scss/docs.scss */
.yyui-docs-footer .container,
.yyui-docs-footer .container-full {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #ddd;
}
/* line 154, ../scss/docs.scss */
.yyui-docs-footer p {
  margin-bottom: 0;
}
/* line 158, ../scss/docs.scss */
.yyui-docs-footer .list-group {
  margin-top: 10px;
  margin-bottom: 5px;
}

@keyframes up {
  50% {
    -moz-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
  50.0001% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 177, ../scss/docs.scss */
.back-to-top a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  overflow: hidden;
  background: none;
  color: #36c6d3;
}
/* line 184, ../scss/docs.scss */
.back-to-top a i {
  display: inline-block;
  font-size: 28px;
}
/* line 189, ../scss/docs.scss */
.back-to-top a:focus, .back-to-top a:hover {
  outline: none;
}
/* line 195, ../scss/docs.scss */
.back-to-top a:hover i {
  -moz-animation: up 1s linear infinite;
  -webkit-animation: up 1s linear infinite;
  animation: up 1s linear infinite;
}
