/* line 1, ../scss/index.scss */
body {
  background-image: url("../img/index/index-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 7, ../scss/index.scss */
.weather {
  padding: 20px 20px;
  width: 220px;
  color: #fff;
}
/* line 12, ../scss/index.scss */
.weather .fa-cloud {
  font-size: 50px;
}
/* line 16, ../scss/index.scss */
.weather p {
  text-indent: 0;
}

/* line 21, ../scss/index.scss */
.clock {
  height: 300px;
  width: 300px;
  font-size: 150px;
}

/* line 27, ../scss/index.scss */
.warning {
  font-size: 30px;
  color: #fff;
}
