/* line 2, ../scss/index.scss */
.index-bg {
  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 8, ../scss/index.scss */
.weather {
  position: absolute;
  top: 53px;
  right: 0;
  padding: 20px 20px;
  width: 220px;
  color: #fff;
}
/* line 16, ../scss/index.scss */
.weather .fa-cloud {
  font-size: 50px;
}
/* line 20, ../scss/index.scss */
.weather p {
  text-indent: 0;
}

/* line 25, ../scss/index.scss */
.clock {
  margin-top: 100px;
  height: 400px;
  width: 400px;
  color: #fff;
  text-align: center;
}

/* line 33, ../scss/index.scss */
.warning {
  font-size: 80px;
  color: #fff;
}
