/* line 2, ../scss/index.scss */
body {
  background-image: url("../img/index/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 8, ../scss/index.scss */
.weather {
  padding: 20px 20px;
  width: 220px;
  color: #fff;
}
/* line 13, ../scss/index.scss */
.weather .fa-cloud {
  font-size: 50px;
}
/* line 17, ../scss/index.scss */
.weather p {
  text-indent: 0;
}

/* line 22, ../scss/index.scss */
.clock {
  height: 300px;
  width: 300px;
  font-size: 150px;
}

/* line 28, ../scss/index.scss */
.warning {
  font-size: 50px;
  color: #fff;
}
