/* line 3, ../scss/sidebar-scrollspy.scss */
.sidebar {
  width: 100%;
}
/* line 5, ../scss/sidebar-scrollspy.scss */
.sidebar .nav-link {
  position: relative;
  padding-left: 20px;
  color: #55595c;
}
/* line 10, ../scss/sidebar-scrollspy.scss */
.sidebar .nav-link:before {
  position: absolute;
  left: 0;
}
/* line 15, ../scss/sidebar-scrollspy.scss */
.sidebar .nav-link + ul {
  position: absolute;
  width: 100%;
  top: 2px;
  left: 85px;
}
/* line 23, ../scss/sidebar-scrollspy.scss */
.sidebar .nav .nav-link.active {
  color: #2EC6A0;
}
/* line 26, ../scss/sidebar-scrollspy.scss */
.sidebar .nav .nav-link.active:before {
  content: "\27A4";
}
/* line 33, ../scss/sidebar-scrollspy.scss */
.sidebar ul ul {
  display: none;
  font-size: 80%;
  padding-left: 10px;
}
/* line 39, ../scss/sidebar-scrollspy.scss */
.sidebar ul .nav-link.active + ul {
  display: block;
}
/* line 45, ../scss/sidebar-scrollspy.scss */
.sidebar > ul > li {
  position: relative;
}
