/* line 3, ../scss/sidebar-scrollspy.scss */
.sidebar {
  width: 100%;
  max-width: 320px;
}
/* line 7, ../scss/sidebar-scrollspy.scss */
.sidebar li {
  float: none;
  padding: 0;
}
/* line 11, ../scss/sidebar-scrollspy.scss */
.sidebar li:hover, .sidebar li:focus {
  background-color: #fff;
}
/* line 14, ../scss/sidebar-scrollspy.scss */
.sidebar li:hover a, .sidebar li:focus a {
  background-color: #fff;
}
/* line 20, ../scss/sidebar-scrollspy.scss */
.sidebar > ul > li {
  display: table;
}
/* line 24, ../scss/sidebar-scrollspy.scss */
.sidebar .nav-link {
  position: relative;
  padding-left: 20px;
  color: #55595c;
}
/* line 29, ../scss/sidebar-scrollspy.scss */
.sidebar .nav-link:hover, .sidebar .nav-link:focus {
  color: #51d6b5;
}
/* line 34, ../scss/sidebar-scrollspy.scss */
.sidebar .nav-link:before {
  position: absolute;
  left: 0;
}
/* line 39, ../scss/sidebar-scrollspy.scss */
.sidebar .nav-link + ul {
  position: absolute;
  width: 100%;
  min-width: 200px;
  top: 2px;
  left: 85px;
  z-index: 1;
}
/* line 49, ../scss/sidebar-scrollspy.scss */
.sidebar .nav .nav-link.active {
  color: #2EC6A0;
}
/* line 52, ../scss/sidebar-scrollspy.scss */
.sidebar .nav .nav-link.active:before {
  content: "\27A4";
}
/* line 60, ../scss/sidebar-scrollspy.scss */
.sidebar ul ul {
  display: none;
  font-size: 80%;
  padding-left: 10px;
}
/* line 66, ../scss/sidebar-scrollspy.scss */
.sidebar ul .nav-link.active + ul {
  display: block;
}
/* line 72, ../scss/sidebar-scrollspy.scss */
.sidebar > ul > li {
  position: relative;
}

@media screen and (max-width: 768px) {
  /* line 78, ../scss/sidebar-scrollspy.scss */
  .sidebar {
    display: none;
  }
}
