@import "variables";

.fi-docs-masthead {
  position: relative;
  padding: 80px 0;
  margin-bottom: 60px;
  background-color: #2EC6A0;
  background-image: linear-gradient(to bottom, #2EC6A0 0px, #74EDCE 100%);
  background-repeat: repeat-x;
  color: #CEEDE5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 60px;
  }

  h4 {
    font-size: 24px;
  }
}

.fi-docs-feature {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #fff;
  color: #555;
}

.fi-docs-section {
  margin-bottom: 60px;
}

.fi-docs-title {
  color: #333;
  font-size: 40px;
}

.fi-docs-example {
  width: 100%;
  margin-bottom: $space-base * 4;

  .fi-docs-surface,
  .fi-docs-code {
    position: relative;
    width: 100%;
    padding: $space-base * 3;
    border: 1px solid #ddd;
    @if $enable-round {
      border-radius: $border-radius;
    }

    &:before {
      font-size: 14px;
      font-weight: 500px;
      color: $gray-light;
    }
  }

  .fi-docs-surface {
    &:before {
      content: "ÊµÀý£º";
      display: block;
      margin-bottom: 20px;
    }
  }

  .fi-docs-code {
    margin-top: -1px;
    background-color: $pre-bg;

    .fi-docs-copy {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 10px;
      font-size: 12px;
      color: #fff;
      box-shadow: 1px 1px 4px darken($pre-bg, 10%);

      &:hover {
        background-color: $brand-success;
        border-color: $brand-success;
        cursor: pointer;
        box-shadow: 1px 1px 4px darken($brand-success, 10%);
      }
    }

    pre {
      border: 0;
    }
  }

}

.fi-docs-note {
  padding: 24px 20px 20px 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E0EDED;
  background-image:
  linear-gradient(90deg, transparent 60px, #abced4  60px, #abced4  62px, transparent 62px),
  linear-gradient(#D1E5E5 .1em, transparent .1em);
  background-size: 100% 23px;
  color: $gray-dark;
  font-size: 14px;
  line-height: 23px;

  p {
    margin-bottom: 0;
    text-indent: 2em;
  }
}

.fi-docs-footer {
  font-size: .85em;

  .container,
  .container-full {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ddd;
  }

  p {
    margin-bottom: 0;
  }

  .list-group {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}