@import "compass/css3";
.index-bg {
  background-image: url("../img/index/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.weather {
  position: absolute;
  top: 53px;
  right: 0;
  padding: 20px 20px;
  width: 220px;
  color: #fff;

  .fa-cloud {
    font-size: 50px;
  }

  p {
    text-indent: 0;
  }
}

.clock {
  margin-top: 100px;
  height: 300px;
  width: 300px;
  font-size: 150px;
}

.warning {
  font-size: 50px;
  color: #fff;
}
