.fi-docs-masthead {
  text-align: center;

  .fi-docs-fiicon {
    padding: 30px;
    width: 170px;
    height: 170px;
    line-height: 170px;
    color: #fff;
    font-size: 110px;
  }

  .lead {
    width: 80%;
    font-size: 30px;
    margin: 0 auto 50px;
  }
}

.fi-docs-feature {
  text-align: center;

  p {
    text-align: justify;
  }

  img {
    display: block;
    margin: 0 auto;
    height: 130px;
  }
}