@import "variables";

.sidebar {
  width: 100%;
  max-width: 320px;

  li {
    float: none;
    padding: 0;

    &:hover,
    &:focus {
      background-color: #fff;
      a {
        background-color: #fff;
      }
    }
  }

  > ul > li {
    display: table;
  }

  .nav-link {
    position: relative;
    padding-left: 20px;
    color: $gray;

    &:hover,
    &:focus {
      color: lighten($brand-theme-color, 10%);
    }

    &:before {
      position: absolute;
      left: 0;
    }

    + ul {
      position: absolute;
      width: 100%;
      min-width: 200px;
      top: 2px;
      left: 85px;
      z-index: 1;
    }
  }
  .nav {
    .nav-link.active {
      color: $brand-theme-color;

      &:before {
        content: "\27A4";
      }
    }
  }

  ul{
    //width: 100%;
    ul {
      display: none;
      font-size: 80%;
      padding-left: $space-base * 2;
    }

    .nav-link.active + ul {
      display: block;
    }

  }

  > ul > li {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

