@import "variables";

.sidebar {
  width: 100%;

  li {
    padding: 0;
    width: 100%;
  }

  .nav-link {
    position: relative;
    padding-left: 20px;
    color: $gray;

    &:hover {
      color: lighten($brand-theme-color, 10%);
    }

    &:before {
      position: absolute;
      left: 0;
    }

    + ul {
      position: absolute;
      width: 100%;
      top: 2px;
      left: 85px;
      z-index: 1;
    }
  }
  .nav {
    .nav-link.active {
      color: $brand-theme-color;

      &:before {
        content: "\27A4";
      }
    }
  }

  ul{
    width: 100%;
    ul {
      display: none;
      font-size: 80%;
      padding-left: $space-base * 2;
    }

    .nav-link.active + ul {
      display: block;
    }

  }

  > ul > li {
    position: relative;
  }
}