/* line 2, ../scss/index.scss */
body {
  min-height: 768px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 8, ../scss/index.scss */
.index-bg {
  padding: 80px 0;
  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 15, ../scss/index.scss */
.weather {
  position: absolute;
  top: 53px;
  right: 0;
  padding: 20px 20px;
  width: 220px;
  color: #fff;
}
/* line 23, ../scss/index.scss */
.weather .fa-cloud {
  font-size: 50px;
}
/* line 27, ../scss/index.scss */
.weather p {
  text-indent: 0 !important;
}

/* line 32, ../scss/index.scss */
.clock {
  margin-top: 100px;
  height: 400px;
  width: 400px;
  color: #fff;
  text-align: center;
}

/* line 40, ../scss/index.scss */
.warning {
  font-size: 80px;
  color: #fff;
}
