<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../../css/flyimt.css"/>
  <link rel="stylesheet" href="../../css/common.css"/>
  <link rel="stylesheet" href="../../css/docs.css"/>
  <link rel="stylesheet" href="../../css/sidebar-scrollspy.css"/>
  <title></title>
</head>
<body data-spy="scroll" data-offset="180">
<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars"></i>
      </button>

      <a href="../index.html" class="navbar-brand">FlyImt</a>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="javascript:;" class="nav-link">敬请期待</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">敬请期待</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:;">Flyimt</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="./introduction.html">简介</a></li>
              <li class="dropdown-item"><a href="./start.html">开始</a></li>
              <li class="dropdown-item"><a href="./global.html">全局样式</a></li>
              <li class="dropdown-item"><a href="./components.html">组件</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="fi-docs-masthead">
    <div class="container">
      <h1>组件</h1>
      <h4>Flyimt提供了一些常用的组件，可以进行快速的模块构建。</h4>
    </div>
  </div>

  <div class="container">
    <div id="sidebar_top_marker"></div>
    <div class="row">
      <div class="col-md-9">
        <section class="fi-docs-section" id="fonticon">
          <h1 class="m-b-6">字体图标<small><code>_fonts.scss</code></small></h1>
          <p class="lead">Flyimt内置了 Font Awesome 字体图标，请移步<a href="http://fontawesome.dashgame.com/" target="_blank">Font Awesome</a>进行查看。</p>
        </section>

        <section class="fi-docs-section" id="dropdown">
          <h1 class="m-b-6">下拉菜单<small><code>_dropdown.scss</code></small></h1>
          <p class="lead">用于有子菜单或者上下文的的菜单项。<code>dropdown.js</code>使其有了交互。</p>

          <h3 id="dropdown_default">默认下拉菜单</h3>
          <p class="">将下拉菜单触发器和下拉菜单都包裹在<code>.dropdown</code>里。然后加入组成菜单的HTML代码。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle">dropdown</button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="javascript:;">action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                </ul>
              </div>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label">&lt;div</span><span class="attr"> class=</span><span class="value">"dropdown"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;<span class="label">&lt;button</span><span class="attr"> class=</span><span class="value">"btn btn-default dropdown-toggle"</span><span class="label">&gt;</span>dropdown<span class="label">&lt;/button></span><br/>
                &nbsp;&nbsp;<span class="label">&lt;ul</span><span class="attr"> class=</span><span class="value">"dropdown-menu"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;<span class="label">&lt;/ul></span><br/>
                <span class="label">&lt;/div></span>
              </pre>
            </div>
          </div>

          <h3 id="dropdown_up">上拉菜单</h3>
          <p class="">为<code>.dropdown</code>添加<code>.up</code>类。子菜单会出现在上方</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <div class="dropdown up">
                <button class="btn btn-default dropdown-toggle">dropdown</button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="javascript:;">action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                </ul>
              </div>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label">&lt;div</span><span class="attr"> class=</span><span class="value">"dropdown up"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;<span class="label">&lt;button</span><span class="attr"> class=</span><span class="value">"btn btn-default dropdown-toggle"</span><span class="label">&gt;</span>dropdown<span class="label">&lt;/button></span><br/>
                &nbsp;&nbsp;<span class="label">&lt;ul</span><span class="attr"> class=</span><span class="value">"dropdown-menu"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;<span class="label">&lt;/ul></span><br/>
                <span class="label">&lt;/div></span>
              </pre>
            </div>
          </div>

          <h3 id="dropdown_header">子菜单标题</h3>
          <p>通过添加标题对子菜单进行分组。给<code>li</code>添加<code>.dropdown-header</code>类。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle">dropdown</button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">section1</li>
                  <li class="dropdown-item"><a href="javascript:;">action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                  <li class="dropdown-header">section2</li>
                  <li class="dropdown-item"><a href="javascript:;">action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                </ul>
              </div>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label">&lt;div</span><span class="attr"> class=</span><span class="value">"dropdown"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;<span class="label">&lt;button</span><span class="attr"> class=</span><span class="value">"btn btn-default dropdown-toggle"</span><span class="label">&gt;</span>dropdown<span class="label">&lt;/button></span><br/>
                &nbsp;&nbsp;<span class="label">&lt;ul</span><span class="attr"> class=</span><span class="value">"dropdown-menu"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-header"</span><span class="label">&gt;</span>section1<span class="label">&lt;/li></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-header"</span><span class="label">&gt;</span>section2<span class="label">&lt;/li></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>

                &nbsp;&nbsp;<span class="label">&lt;/ul></span><br/>
                <span class="label">&lt;/div></span>
              </pre>
            </div>
          </div>

          <h3 id="dropdown_divider">分割线</h3>
          <p>分割子菜单。给<code>li</code>添加<code>.dropdown-divider</code>类。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle">dropdown</button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="javascript:;">action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><a href="javascript:;">action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                </ul>
              </div>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label">&lt;div</span><span class="attr"> class=</span><span class="value">"dropdown"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;<span class="label">&lt;button</span><span class="attr"> class=</span><span class="value">"btn btn-default dropdown-toggle"</span><span class="label">&gt;</span>dropdown<span class="label">&lt;/button></span><br/>
                &nbsp;&nbsp;<span class="label">&lt;ul</span><span class="attr"> class=</span><span class="value">"dropdown-menu"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-divider"</span><span class="label">&gt;</span><span class="label">&lt;/li></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>

                &nbsp;&nbsp;<span class="label">&lt;/ul></span><br/>
                <span class="label">&lt;/div></span>
              </pre>
            </div>
          </div>

          <h3 id="dropdown_disabled">禁用子菜单</h3>
          <p>禁用子菜单。给<code>.dropdown-item</code>添加<code>.disabled</code>类。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle">dropdown</button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item disabled"><a href="javascript:;">action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                  <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
                </ul>
              </div>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label">&lt;div</span><span class="attr"> class=</span><span class="value">"dropdown"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;<span class="label">&lt;button</span><span class="attr"> class=</span><span class="value">"btn btn-default dropdown-toggle"</span><span class="label">&gt;</span>dropdown<span class="label">&lt;/button></span><br/>
                &nbsp;&nbsp;<span class="label">&lt;ul</span><span class="attr"> class=</span><span class="value">"dropdown-menu"</span><span class="label">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item disabled"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&lt;li</span><span class="attr"> class=</span><span class="value">"dropdown-item"</span><span class="label">&gt;</span><span class="label">&lt;a</span><span class="attr"> href=</span><span class="value">"javascript:;"</span><span class="label">&gt;</span>Action<span class="label">&lt;/a>&lt;/li></span></span><br/>
                &nbsp;&nbsp;<span class="label">&lt;/ul></span><br/>
                <span class="label">&lt;/div></span>
              </pre>
            </div>
          </div>

          <p class="text-info"><code>.dropdown-toggle</code>是按钮，可以使用所有和按钮相关的类。</p>
        </section>

        <section id="btn_group">
          <h1 class="m-b-6">按钮组</h1>
          <p class="lead"></p>
        </section>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <ul class="nav">
            <li>
              <a class="nav-link" href="#fonticon">字体图标</a>
            </li>
            <li>
              <a class="nav-link" href="#dropdown">下拉菜单</a>
              <ul class="nav">
                <li><a class="nav-link" href="#dropdown_default">默认下拉菜单</a></li>
                <li><a class="nav-link" href="#dropdown_up">上拉菜单</a></li>
                <li><a class="nav-link" href="#dropdown_header">子菜单标题</a></li>
                <li><a class="nav-link" href="#dropdown_divider">分割线</a></li>
                <li><a class="nav-link" href="#dropdown_disabled">禁用子菜单</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="fi-docs-footer">
  <div class="container">
    <p class="text-center">Designed by my kelp and built by yayo.</p>
    <p class="text-center">wellcome to feedback, and we will make it better.</p>
    <ul class="list-group list-group-hz center">
      <li class="list-group-item"><a href="javascript:;" class="text-muted">当前版本1.0.0</a></li>
      <li class="list-group-item"><a href="javascript:;">github</a></li>
    </ul>
  </div>
</footer>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/flyimt.min.js"></script>
<script>
  (function() {

    // BEGIN: 通过滚动距离设置侧边导航的position
    //

    $(window).scroll(function() {
      var yheight = getScrollTop(); //滚动条距顶端的距离
      var referenceTop = $('#sidebar_top_marker').offset().top;

      if(yheight >= referenceTop) {
        $('.sidebar').css({'position':'fixed','top':'0','padding-top':'20px'})
      }else {
        $('.sidebar').css({'position':'static'})
      }

    })

    /**
     * 获取滚动条距离顶端的距离
     * @return {}支持IE6
     */
    function getScrollTop() {
      var scrollPos;
      if (window.pageYOffset) {
        scrollPos = window.pageYOffset;
      }
      else if (document.compatMode && document.compatMode != 'BackCompat') {
        scrollPos = document.documentElement.scrollTop;
      }
      else if (document.body) {
        scrollPos = document.body.scrollTop;
      }
      return scrollPos;
    }

    //
    // END: 通过滚动距离设置侧边导航的position
  })()
</script>
</body>
</html>