<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../../css/flyimt.css"/>
  <link rel="stylesheet" href="../../css/common.css"/>
  <link rel="stylesheet" href="../../css/docs.css"/>
  <link rel="stylesheet" href="../../css/sidebar-scrollspy.css"/>
  <title></title>
</head>
<body data-spy="scroll" data-offset="180">
<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars"></i>
      </button>

      <a href="../index.html" class="navbar-brand">FlyImt</a>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块1</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块2</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块3</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块4</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:;">Flyimt</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="introduction.html">简介</a></li>
              <li class="dropdown-item"><a href="start.html">开始</a></li>
              <li class="dropdown-item"><a href="javascript:;">全局样式</a></li>
              <li class="dropdown-item"><a href="javascript:;">组件</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="fi-docs-masthead">
    <div class="container">
      <h1>全局样式</h1>
      <h4>设置CSS全局样式；对HTML元素的样式进行重置并可以通过Class进行增强；还有不可缺少的栅格系统等。</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section class="fi-docs-section" id="grid">
          <h1 class="m-b-6">栅格系统 <small><code>_grid.scss</code></small></h1>
          <p class="lead">栅格系统对于布局尤其是响应式来说至关重要，它随着屏幕或者窗口视口的大小自动布局。</p>

          <h3 id="grid_introduce">简介</h3>
          <p>栅格系统用于通过一系列的行（row）与列（column）的组合来创建页面布局，你的内容就可以放入这些创建好的布局中。
            下面就介绍一下 flyimt 栅格系统的工作原理：
          </p>
          <ul>
            <li>“行（row）”必须包含在 <code>.container</code>（固定宽度）或<code>.container-fluid</code>（100% 宽度）中，以便为其赋予合适的排列（aligment）和内补（padding）。</li>
            <li>通过“行（row）”在水平方向创建一组“列（column）”。</li>
            <li>内容应当放置于“列（column）”内，并且，只有“列（column）”可以作为行（row）”的直接子元素。</li>
            <li>类似<code>.row</code>和<code>.col-xs-4</code> 这种预定义的类，可以用来快速创建栅格布局。</li>
            <li>通过为“列（column）”设置 padding 属性，从而创建列与列之间的间隔（gutter）。</li>
            <li>栅格系统中的列是通过指定1到12的值来表示其跨越的范围。例如，三个等宽的列可以使用三个 <code>.col-xs-4</code> 来创建。</li>
            <li>如果一“行（row）”中包含了的“列（column）”大于 12，多余的“列（column）”所在的元素将被作为一个整体另起一行排列。</li>
            <li>栅格类适用于与屏幕宽度大于或等于分界点大小的设备 ， 并且针对小屏幕设备覆盖栅格类。 因此，在元素上应用任何 <code>.col-md-*</code> 栅格类适用于
              与屏幕宽度大于或等于分界点大小的设备 ， 并且针对小屏幕设备覆盖栅格类。 因此，在元素上应用任何 <code>.col-lg-*</code> 不存在， 也影响大屏幕设备。</li>
          </ul>
          <p class="text-info">yayo在使用了Bootstrap、Foundation、Amaze UI、Semantic UI后，决定使用Bootstrap的栅格结构。原因如下：</p>
          <p>此栅格系统的精巧之处</p>
          <ul>
            <li>根据工作原理可知此栅格系统是锯齿状，默认的锯齿深度是 <span class="text-info">15px</span>。</li>
            <li><code>.container</code>和<code>.container-full</code>类有<span class="text-info">15px</span>的 <code>padding</code>值。</li>
            <li><code>.row</code>类有<span class="text-info">-15px</span>的 <code>margin</code>值，抵消掉<code>.container</code>的<code>padding</code>值。</li>
            <li><code>.col-*-*</code>类有<span class="text-info">15px</span>的 <code>padding</code>值，这样<code>.col-*-*</code>有相当于一个新的<code>.container</code>，
              里面可以继续放<code>.row</code>。</li>
          </ul>


          <h3 id="grid_options">参数</h3>
          <p>参看下表可以查看栅格系统在不同设备的表现。</p>
          <div class="table-responsive">
            <table class="table font-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>超小屏幕 <small>手机<code>(<768px)</code></small></th>
                  <th>小屏幕 <small>ipad<code>(≥768px)</code></small></th>
                  <th>中等屏幕 <small>桌面显示器<code>(≥992px)</code></small></th>
                  <th>大屏幕 <small>桌面显示器<code>(≥1360px)</code></small></th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row"><code>.container</code>最大宽度</th>
                <td>auto</td>
                <td>720px</td>
                <td>960px</td>
                <td>1280px</td>
              </tr>
              <tr>
                <th scope="row">列数</th>
                <td colspan="4">12</td>
              </tr>
              <tr>
                <th scope="row">间距</th>
                <td colspan="4">30px</td>
              </tr>
              <tr>
                <th scope="row">偏移</th>
                <td><code>col-xs-offset-*</code></td>
                <td><code>col-sm-offset-*</code></td>
                <td><code>col-md-offset-*</code></td>
                <td><code>col-lg-offset-*</code></td>
              </tr>
              <tr>
                <th scope="row">向左移动<code>(1 ~ 12)</code></th>
                <td><code>col-xs-lt-*</code></td>
                <td><code>col-sm-lt-*</code></td>
                <td><code>col-md-lt-*</code></td>
                <td><code>col-lg-lt-*</code></td>
              </tr>
              <tr>
                <th scope="row">向右移动<code>(1 ~ 12)</code></th>
                <td><code>col-xs-rt-*</code></td>
                <td><code>col-sm-rt-*</code></td>
                <td><code>col-md-rt-*</code></td>
                <td><code>col-lg-rt-*</code></td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="fi-docs-section" id="type">
          <h1 class="m-b-6">调整<small><code>_type.scss</code></small></h1>
          <p class="lead">在这里，yayo对一些标签做了一些调整。</p>

          <h3 id="type_head">标题</h3>
          <p>对HTML中的标题标签<code>&lt;h1> ~ &lt;h6></code>进行了字体大小的调整，并对其内部的 <code>&lt;small></code>标签进行了特殊处理，大小为 <span class="text-info">60%</span>。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <h1>h1. Flyimt heading <small>font-size: 2.5rem</small></h1>
              <h2>h2. Flyimt heading <small>font-size: 2rem</small></h2>
              <h3>h3. Flyimt heading <small>font-size: 1.75rem</small></h3>
              <h4>h4. Flyimt heading <small>font-size: 1.5rem</small></h4>
              <h5>h5. Flyimt heading <small>font-size: 1.25rem</small></h5>
              <h6>h6. Flyimt heading <small>font-size: 1rem</small></h6>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">h1></span>h1. Flyimt heading<span class="label-begin">small></span>font-size: 2.5rem<span class="label-begin">/small></span><span class="label-begin">/h1></span>
              </pre>
            </div>
          </div>

          <h3 id="type_mark">突出文本</h3>
          <p><code>&lt;mark></code>突出显示部分文本。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              如果能从来，我要选<mark>李白</mark>。
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                如果能从来，我要选<span class="label-begin">mark></span>李白<span class="label-begin">/mark></span>。
              </pre>
            </div>
          </div>

          <h3 id="type_del_ins">更新和修正</h3>
          <p><code>&lt;del>、&lt;ins></code>配合使用，来描述文档中的更新和修正。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              如果能从来，我要选<del>杜甫</del><ins>李白</ins>。
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                如果能从来，我要选<span class="label-begin">del></span>杜甫<span class="label-begin">/del></span><span class="label-begin">ins></span>李白<span class="label-begin">/ins></span>。
              </pre>
            </div>
          </div>

          <h3 id="type_abbr">缩写</h3>
          <p><code>&lt;abbr></code>指示简称或缩写，比如 "WWW" 或 "NATO"。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <abbr title="World Wide Web">WWW</abbr>是环球信息网的缩写，中文名字为“万维网”，“环球网”等，常简称为Web。
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">abbr</span><span class="attr">title</span><span class="value">World Wide Web</span><span class="label-end"></span>WWW<span class="label-begin">/abbr></span>是环球信息网的缩写，中文名字为“万维网”，“环球网”等，常简称为Web。
              </pre>
            </div>
          </div>

          <h3 id="type_address">地址</h3>
          <p><code>&lt;address></code>定义文档或文章的yayo/拥有者的联系信息。如果它位于<code>&lt;body></code>元素内，则它表示文档联系信息。
            如果它位于<code>&lt;article></code>元素内，则它表示文章的联系信息。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <address>
                <strong>Yayo, Inc.</strong><br>
                天府大道，中段<br>
                中国，四川，成都<br>
                <abbr title="电话号码">P:</abbr> (028) 909-0950
              </address>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">address></span><br/>
                &nbsp;&nbsp;<span class="label-begin">strong></span>Flyimt, Inc.<span class="label-begin">strong></span><span class="label-begin">br/></span><br/>
                &nbsp;&nbsp;天府大道，中段<span class="label-begin">br/></span><br/>
                &nbsp;&nbsp;中国，四川，成都<span class="label-begin">br/></span><br/>
                &nbsp;&nbsp;<span class="label-begin">abbr</span><span class="attr">title</span><span class="value">电话号码</span><span class="label-end"></span>
                P: <span class="label-begin">/abbr></span>(028) 909-0950 <br/>
                <span class="label-begin">/address></span>
              </pre>
            </div>
          </div>

          <h3 id="type_blockquote">引用</h3>
          <p><code>&lt;blockquote></code>定义块引用。它之间的所有文本都会从常规文本中分离出来，经常会在左、右两边进行缩进（增加外边距），
            而且有时会使用斜体。也就是说，块引用拥有它们自己的空间。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <blockquote>
                <p>爱生活，爱老婆。</p>
                <footer>出自 <cite title="Source Title">杨氏语录</cite></footer>
              </blockquote>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">bloclquote></span><br/>
                &nbsp;&nbsp; <span class="label-begin">p></span>爱生活，爱老婆。<span class="label-begin">/p></span><br/>
                &nbsp;&nbsp; <span class="label-begin">footer></span>出自<span class="label-begin">cite></span><span class="attr">title</span>
                <span class="value">Source Title</span><span class="label-end"></span>杨氏语录 <span class="label-end">/cite></span><span class="label-end">/footer</span><br/>
                <span class="label-begin">/blockquote></span>
              </pre>
            </div>
          </div>

          <h4>反向引用</h4>
          <p>给<code>&lt;blockquote></code>加上<code>.blockquote-reverse</code>类。此时，引用会出现在右侧。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <blockquote class="blockquote-reverse">
                <p>爱生活，爱老婆。</p>
                <footer>出自 <cite title="Source Title">杨氏语录</cite></footer>
              </blockquote>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">bloclquote</span><span class="attr">class</span><span class="value">blockquote</span><span class="label-end"></span><br/>
                &nbsp;&nbsp; <span class="label-begin">p></span>爱生活，爱老婆。<span class="label-begin">/p></span><br/>
                &nbsp;&nbsp; <span class="label-begin">footer></span>出自<span class="label-begin">cite></span><span class="attr">title</span>
                <span class="value">Source Title</span><span class="label-end"></span>杨氏语录 <span class="label-end">/cite></span><span class="label-end">/footer</span><br/>
                <span class="label-begin">/blockquote></span>
              </pre>
            </div>
          </div>

          <div class="fi-docs-note">
            <p>yayo在写反向引用时遇到了一个纠结的问题，用<span class="text-danger"> inverse </span>还是<span class="text-danger"> reverse </span>。<br/></p>
            它哥俩的解释分别是：<br/>
              <p><span class="text-danger"> inverse </span>：反面，相反的事物；反向的；倒数，反选。</p>
              <p><span class="text-danger"> reverse </span>：反面，背面，倒退；颠倒，倒车，撤销；相反的，反面的。</p>
              有没有一种日了狗的感觉？</p>
            <p>
              最后决定在<span class="text-danger"> 空间 </span>上的相反用reverse，比如这里的反向引用，左右位置的互换。至于inverse，它和数学的关系更加接近，
              比如反函数，反比等等，适合抽象的相反。
            </p>
          </div>

          <h3 id="type_dl">描述</h3>
          <p><code>&lt;dl></code>定义了“定义列表”，即带有描述的短语列表。它用于结合<code>&lt;dt></code>（定义列表中的项目）和<code>&lt;dd></code>（描述列表中的项目）。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <dl>
                <dt>描述列表</dt>
                  <dd>描述列表适合用来定义</dd>
                <dt>打烊</dt>
                  <dd>商店晚上关门停止营业。</dd>
                  <dd>引申为歇业。</dd>
              </dl>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">dl></span><br/>
                &nbsp;&nbsp;<span class="label-begin">dt></span>描述列表<span class="label-begin">/dt></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label-begin">dd></span>描述列表适合用来定义。<span class="label-begin">/dd></span><br/>
                &nbsp;&nbsp;<span class="label-begin">dt></span>打烊<span class="label-begin">/dt></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label-begin">dd></span>商店晚上关门停止营业。<span class="label-begin">/dd></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label-begin">dd></span>引申为歇业。<span class="label-begin">/dd></span><br/>
                <span class="label-begin">/dl></span>
              </pre>
            </div>
          </div>
          <h4>水平描述</h4>
          <p>在<code>&lt;dl></code>上添加<code>.dl-hz</code>类。描述会水平显示。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <dl class="dl-hz">
                <dt>描述列表 160px</dt>
                <dd>描述列表适合用来定义</dd>
                <dt>打烊</dt>
                <dd>商店晚上关门停止营业。</dd>
                <dd>引申为歇业。</dd>
              </dl>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">dl <span class="attr">class</span><span class="value">dl-hz</span><span class="label-end"></span></span><br/>
                &nbsp;&nbsp;<span class="label-begin">dt></span>描述列表<span class="label-begin">/dt></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label-begin">dd></span>描述列表适合用来定义。<span class="label-begin">/dd></span><br/>
                &nbsp;&nbsp;<span class="label-begin">dt></span>打烊<span class="label-begin">/dt></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label-begin">dd></span>商店晚上关门停止营业。<span class="label-begin">/dd></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="label-begin">dd></span>引申为歇业。<span class="label-begin">/dd></span><br/>
                <span class="label-begin">/dl></span>
              </pre>
            </div>
          </div>
        </section>

        <section class="fi-docs-section" id="code">
          <h1 class="m-b-6">代码<small><code>_code.scss</code></small></h1>

          <h3 id="code_code">内联代码</h3>
          <p><code>&lt;code></code>包裹内联样式的代码片段。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              一般，我们把直接显示在网页上的代码写在<code>&lt;code></code>标签里面。
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                 一般，我们把直接显示在网页上的代码写在<span class="label-begin">code></span>&amp;lt;code><span class="label-begin">/code></span> 标签里面。
              </pre>
            </div>
          </div>

          <h3 id="code_kbd">键盘文本</h3>
          <p><code>&lt;kbd></code>定义键盘文本。它表示文本是从键盘上键入的。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              同时按住 <kbd>Alt</kbd> + <kbd>Print Screen</kbd>，我们可以截取当前运行窗口。
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                 同时按住 <span class="label-begin">kbd></span>Alt<span class="label-begin">/kbd></span> +
                <span class="label-begin">kbd></span>Print Screen<span class="label-begin">/kbd></span>，我们可以截取当前运行窗口。
              </pre>
            </div>
          </div>

          <h3 id="code_pre">代码块</h3>
          <p>Flyimt 用<code>&lt;pre></code> 来展示代码块的内容。</p>
          <ul>
            <li><code>.note：</code>用于注释。默认添加了<code>&lt;!-- --></code>，标签内部直接包含注释内容。</li>
            <li><code>.label-begin：</code>用于标签名。默认已经添加了<code>&lt;</code>。</li>
            <li><code>.label-end：</code>用于标签名，固定显示闭合符<code>&gt;</code>，此标签内部不用写任何代码，自闭和标签可以添加一个<code>/</code>。一般用在含有属性的标签上。</li>
            <li><code>.attr：</code>用于属性名称。默认包含了<code>=</code>，标签内部直接包含属性名称。</li>
            <li><code>.value：</code>用于属性值。默认包含了<code>""</code>，标签内部直接包含属性值。</li>
            <li>代码中的换行和空格需要使用<code>&lt;br/>、&amp;nbsp;</code>实现。</li>
          </ul>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <pre>
                <span class="note">要用&lt;br/>换行</span>
                <br/>
                <span class="label-begin">ul></span>
                <br/>
                &nbsp;&nbsp;<span class="label-begin">li</span><span class="attr">class</span><span class="value">active</span>
                <span class="label-end"></span>爱生活，爱老婆。<span class="label-begin">/li></span>
                <br/>
                &nbsp;&nbsp;<span class="label-begin">li></span>爱生活，爱老婆。<span class="label-begin">/li></span>
                <br/>
                <span class="label-begin">/ul></span>
              </pre>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">pre></span><br/>
                &nbsp;&nbsp;<span class="label-begin">span</span><span class="attr">class</span><span class="value">note</span>
                <span class="label-end"></span>要用&amp;lt;br/>换行 <span class="label-begin">/span></span><br/>
                &nbsp;&nbsp;<span class="label-begin">br/></span><br/>
                &nbsp;&nbsp;<span class="label-begin">span</span><span class="attr">class</span><span class="value">label-begin</span>
                <span class="label-end"></span>ul><span class="label-begin">/span></span><br/>
                &nbsp;&nbsp;<span class="label-begin">br/></span><br/>
                &nbsp;&nbsp;&amp;nbsp;&amp;nbsp;<span class="label-begin">span</span><span class="attr">class</span><span class="value">label-begin</span>
                <span class="label-end"></span>li<span class="label-begin">/span>&lt;span</span><span class="attr">class</span><span class="value">attr</span>
                <span class="label-end"></span>class<span class="label-begin">/span>&lt;span</span><span class="attr">class</span><span class="value">value</span>
                <span class="label-end"></span>active<span class="label-begin">/span></span><br/>
                &nbsp;&nbsp;<span class="label-begin">span</span><span class="attr">class</span><span class="value">label-end</span><span class="label-end"></span>
                <span class="label-begin">/span></span>爱生活，爱老婆。<span class="label-begin">span</span><span class="attr">class</span><span class="value">label-begin</span>
                <span class="label-end"></span>/li<span class="label-begin">/span></span><br/>
                &nbsp;&nbsp;<span class="label-begin">br/></span><br/>
                &nbsp;&nbsp;&amp;nbsp;&amp;nbsp;<span class="label-begin">span</span><span class="attr">class</span><span class="value">label-begin</span><span class="label-end"></span>li>
                <span class="label-begin">/span></span>爱生活，爱老婆。<span class="label-begin">span</span><span class="attr">class</span><span class="value">label-begin</span>
                <span class="label-end"></span>/li><span class="label-begin">/span></span><br/>
                &nbsp;&nbsp;<span class="label-begin">br/></span><br/>
                &nbsp;&nbsp;<span class="label-begin">span</span><span class="attr">class</span><span class="value">label-begin</span><span class="label-end"></span>/ul><span class="label-begin">/span></span><br/>
                <span class="label-begin">/pre></span>
              </pre>
            </div>
          </div>

          <div class="fi-docs-note">
            为什么要用<code>&lt;br/>、&amp;nbsp;</code>来换行和缩进呢，<code>&lt;pre></code>不是所见即所得的吗？
            <br/>
            这里yayo为<code>&lt;pre></code>添加了下面的样式：
            <p><span class="text-primary">white-space</span>: <span class="text-warning">nowrap;</span></p>
            原因：<br/>
            <p><code>&lt;pre></code>在没有进行样式重写前的确是所见即所得，但是你写的html代码存在被压缩的可能，这就把里面的空格，换行全给kill掉了。因此，为了维护世界和平，还是显示的写出来吧。</p>
            <br/>
            ps：这里的<code>&lt;pre></code>里的代码样式是我在webstorm里使用的代码风格。
          </div>
        </section>

        <section class="fi-docs-section" id="table">
          <h1 class="m-b-6">表格<small><code>_tables.scss</code></small></h1>
          <p>想要和栗子保持一致，就别偷懒把<code>&lt;thead>、&lt;tbody></code>这些元素给落下了哦。</p>

          <h3 id="table_default">默认表格</h3>
          <p>在<code>&lt;table></code>标签上添加<code>.table</code>类，为其添加默认样式。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <table class="table">
                <caption>默认样式表格</caption>
                <thead>
                  <tr><th>#</th><th>First</th><th>Second</th><th>Third</th></tr>
                </thead>
                <tbody>
                  <tr><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                  <tr><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                  <tr><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                </tbody>
              </table>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">table</span><span class="attr">class</span><span class="value">table</span><span class="label-end"></span><br/>
                ··· <br/>
                <span class="label-begin">/table></span>
              </pre>
            </div>
          </div>

          <h3 id="table_responsive">响应式表格</h3>
          <p>在<code>&lt;table></code>标签外面包裹一层类为<code>.table-responsive</code>的<code>&lt;div></code>。此时如果表格超过宽度会在此<code>&lt;div></code>
            上产生水平滚动条，而不会在浏览器窗口产生滚动条。
          </p>
          <p class="text-info">只针对于很长的连续的字符串。如果是中文的话，会自动换行，都不会产生滚动条，可以不使用这种表格。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <div class="table-responsive">
                <table class="table">
                  <caption>响应式表格</caption>
                  <thead>
                    <tr><th>#</th><th>First</th><th>Second</th><th>Third</th><th>Fourth</th><th>Fifth</th></tr>
                  </thead>
                  <tbody>
                    <tr><th scope="row">First</th><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td></tr>
                    <tr><th scope="row">First</th><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td></tr>
                    <tr><th scope="row">First</th><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td><td>abcdefghijklmnopqrstuvwxyz</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">div</span><span class="attr">class</span><span class="value">table-responsice</span><span class="label-end"></span><br/>
                &nbsp;&nbsp;<span class="label-begin">table</span><span class="attr">class</span><span class="value">table</span><span class="label-end"></span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;··· <br/>
                &nbsp;&nbsp;<span class="label-begin">/table></span><br/>
                <span class="label-begin">/div></span>
              </pre>
            </div>
          </div>

          <h3 id="table_sm">紧凑型表格</h3>
          <p>在<code>&lt;table></code>标签添加<code>.table-sm</code>类。表格会显示得更为紧凑。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <table class="table table-sm">
                <caption>紧凑型表格</caption>
                <thead>
                  <tr><th>#</th><th>First</th><th>Second</th><th>Third</th><th>Fourth</th><th>Fifth</th></tr>
                </thead>
                <tbody>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                </tbody>
              </table>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">table</span><span class="attr">class</span><span class="value">table table-sm</span><span class="label-end"></span><br/>
                &nbsp;&nbsp;··· <br/>
                <span class="label-begin">/table></span><br/>
              </pre>
            </div>
          </div>

          <h3 id="table_striped">带条纹表格</h3>
          <p>在<code>&lt;table></code>标签添加<code>.table-striped</code>类。表格会隔行显示背景，便于区分行。</p>
          <p class="text-danger">必须要有<code>&lt;tbody></code>标签。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <table class="table table-striped">
                <caption>条纹表格</caption>
                <thead>
                  <tr><th>#</th><th>First</th><th>Second</th><th>Third</th><th>Fourth</th><th>Fifth</th></tr>
                </thead>
                <tbody>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                </tbody>
              </table>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">table</span><span class="attr">class</span><span class="value">table table-striped</span><span class="label-end"></span><br/>
                &nbsp;&nbsp;···<br/>
                <span class="label-begin">/table></span><br/>
              </pre>
            </div>
          </div>

          <h3 id="table_bordered">带边框表格</h3>
          <p>在<code>&lt;table></code>标签添加<code>.table-bordered</code>类。表格每一项之间都有边框。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <table class="table table-bordered">
                <caption>边框表格</caption>
                <thead>
                  <tr><th>#</th><th>First</th><th>Second</th><th>Third</th><th>Fourth</th><th>Fifth</th></tr>
                </thead>
                <tbody>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                  <tr><th scope="row">First</th><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td><td>abcdef</td></tr>
                </tbody>
              </table>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">table</span><span class="attr">class</span><span class="value">table table-bordered</span><span class="label-end"></span><br/>
                &nbsp;&nbsp;···<br/>
                <span class="label-begin">/table></span><br/>
              </pre>
            </div>
          </div>

          <h3 id="table_row_status">表格行状态</h3>
          <p>在<code>&lt;tr></code>标签上添加相应的类，让该行区别于其他行。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <table class="table">
                <caption>This is border tables</caption>
                <thead>
                  <tr><th>#</th><th>First</th><th>Second</th><th>Third</th>
                </tr>
                </thead>
                <tbody>
                  <tr class="row-bg-active"><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                  <tr class="row-bg-primary"><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                  <tr class="row-bg-secondary"><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                  <tr class="row-bg-success"><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                  <tr class="row-bg-info"><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                  <tr class="row-bg-warning"><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                  <tr class="row-bg-danger"><th scope="row">First</th><td>first</td><td>second</td><td>third</td></tr>
                </tbody>
              </table>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">table</span><span class="attr">class</span><span class="value">table</span><span class="label-end"></span><br/>
                &nbsp;&nbsp;<span class="label-begin">tr</span><span class="attr">class</span><span class="value">row-bg-active</span><span class="label-end"></span>···<span class="label-begin">/tr></span><br/>
                &nbsp;&nbsp;<span class="label-begin">tr</span><span class="attr">class</span><span class="value">row-bg-primary</span><span class="label-end"></span>···<span class="label-begin">/tr></span><br/>
                &nbsp;&nbsp;<span class="label-begin">tr</span><span class="attr">class</span><span class="value">row-bg-secondary</span><span class="label-end"></span>···<span class="label-begin">/tr></span><br/>
                &nbsp;&nbsp;<span class="label-begin">tr</span><span class="attr">class</span><span class="value">row-bg-success</span><span class="label-end"></span>···<span class="label-begin">/tr></span><br/>
                &nbsp;&nbsp;<span class="label-begin">tr</span><span class="attr">class</span><span class="value">row-bg-info</span><span class="label-end"></span>···<span class="label-begin">/tr></span><br/>
                &nbsp;&nbsp;<span class="label-begin">tr</span><span class="attr">class</span><span class="value">row-bg-warning</span><span class="label-end"></span>···<span class="label-begin">/tr></span><br/>
                &nbsp;&nbsp;<span class="label-begin">tr</span><span class="attr">class</span><span class="value">row-bg-danger</span><span class="label-end"></span>···<span class="label-begin">/tr></span><br/>
                <span class="label-begin">/table></span><br/>
              </pre>
            </div>
          </div>

          <p class="text-info">当然，你也可以把上面集中样式搭配使用，只要在<code>&lt;table></code>标签上添加相应的类即可。</p>
        </section>

        <section class="fi-docs-section" id="form">
          <h1 class="m-b-6">表单<small><code>_forms.scss</code></small></h1>
          <p>表单样式，敬请期待。</p>
        </section>

        <section class="fi-docs-section" id="button">
          <h1 class="m-b-6">按钮<small><code>_buttons.scss</code></small></h1>
          <p>可以为<code>&lt;a>、&lt;button>、&lt;input></code>添加样式。</p>
          <p class="text-danger">所有按钮都要添加<code>.btn</code>基类。</p>

          <h3 id="button_brand">基本按钮</h3>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <button type="button" class="btn btn-default">Default</button>
              <button type="button" class="btn btn-primary">Primary</button>
              <button type="button" class="btn btn-secondary">Secondary</button>
              <button type="button" class="btn btn-info">Info</button>
              <button type="button" class="btn btn-success">Success</button>
              <button type="button" class="btn btn-warning">Warning</button>
              <button type="button" class="btn btn-danger">Danger</button>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-default</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-primary</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-secondary</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-info</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-success</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-warning</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-danger</span><span class="label-begin">/button></span><br/>
              </pre>
            </div>
          </div>

          <h3 id="button_outline">轮廓按钮</h3>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <button type="button" class="btn btn-default-outline">Default</button>
              <button type="button" class="btn btn-primary-outline">Primary</button>
              <button type="button" class="btn btn-secondary-outline">Secondary</button>
              <button type="button" class="btn btn-info-outline">Info</button>
              <button type="button" class="btn btn-success-outline">Success</button>
              <button type="button" class="btn btn-warning-outline">Warning</button>
              <button type="button" class="btn btn-danger-outline">Danger</button>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-default-outline</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-primary-outline</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-secondary-outline</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-info-outline</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-success-outline</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-warning-outline</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-danger-outline</span><span class="label-begin">/button></span><br/>
              </pre>
            </div>
          </div>

          <h3 id="button_link">链接按钮</h3>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <button type="button" class="btn btn-link">link</button>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-link</span><span class="label-begin">/button></span><br/>
              </pre>
            </div>
          </div>

          <h3 id="button_assist">增强样式</h3>
          <h4>按钮大小</h4>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <button type="button" class="btn btn-primary btn-xs">极小</button>
              <button type="button" class="btn btn-info btn-sm">小</button>
              <button type="button" class="btn btn-success">默认大小</button>
              <button type="button" class="btn btn-warning btn-lg">大按钮</button>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-primary btn-xs</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-info btn-sm</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-success</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-warning btn-lg</span><span class="label-begin">/button></span><br/>
              </pre>
            </div>
          </div>

          <h4>按钮圆角</h4>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <button type="button" class="btn btn-primary btn-round">小圆角按钮</button>
              <button type="button" class="btn btn-info btn-circle">圆形按钮</button>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-primary btn-round</span><span class="label-begin">/button></span><br/>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-info btn-circle</span><span class="label-begin">/button></span><br/>
              </pre>
            </div>
          </div>

          <h4>块按钮</h4>
          <p>块按钮的宽度是<code>100%</code>。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <button type="button" class="btn btn-primary btn-block">块级按钮</button>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">button</span><span class="attr">type</span><span class="value">button</span><span class="attr">class</span><span class="value">btn btn-primary btn-block</span><span class="label-begin">/button></span><br/>
              </pre>
            </div>
          </div>
        </section>

        <section class="fi-docs-section" id="image">
          <h1 class="m-b-6">图片<small><code>_images.scss</code></small></h1>

          <h3 id="image_responsive">响应式图片</h3>
          <p>
            <code>.img-responsive</code>类可以让图片支持响应式布局。其实质是为图片设置了<code>display: block; max-width: 100%; height: auto;</code>属性，从而让图片在其父元素中更好的缩放。</p>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <img class="img-responsive" src="../../img/海绵宝宝.jpg" alt=""/>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">img</span><span class="attr">class</span><span class="value">img-responsive</span><span class="label-end">/</span><br/>
              </pre>
            </div>
          </div>

          <h3 id="image_style">图片样式</h3>
          <div class="fi-docs-example">
            <div class="fi-docs-surface">
              <img class="img-round" src="../../img/海绵宝宝.jpg" alt=""/>
              <img class="img-circle" src="../../img/海绵宝宝.jpg" alt=""/>
              <img class="img-thumbnail" src="../../img/海绵宝宝.jpg" alt=""/>
            </div>
            <div class="fi-docs-code">
              <i class="fa fa-file-code-o fi-docs-copy"></i>
              <pre>
                <span class="label-begin">img</span><span class="attr">class</span><span class="value">img-round</span><span class="label-end">/</span><br/>
                <span class="label-begin">img</span><span class="attr">class</span><span class="value">img-circle</span><span class="label-end">/</span><br/>
                <span class="label-begin">img</span><span class="attr">class</span><span class="value">img-thumbnail</span><span class="label-end">/</span><br/>
              </pre>
            </div>
          </div>
        </section>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <ul class="nav">
            <li>
              <a class="nav-link" href="#grid">栅格系统</a>
              <ul class="nav">
                <li><a class="nav-link" href="#grid_introduce">简介</a></li>
                <li><a class="nav-link" href="#grid_options">参数</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="#type">调整</a>
              <ul class="nav">
                <li><a class="nav-link" href="#type_head">标题</a></li>
                <li><a class="nav-link" href="#type_mark">突出文本</a></li>
                <li><a class="nav-link" href="#type_del_ins">更新和修正</a></li>
                <li><a class="nav-link" href="#type_abbr">缩写</a></li>
                <li><a class="nav-link" href="#type_address">地址</a></li>
                <li><a class="nav-link" href="#type_blockquote">引用</a></li>
                <li><a class="nav-link" href="#type_dl">描述</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="#code">代码</a>
              <ul class="nav">
                <li><a class="nav-link" href="#code_code">内联代码</a></li>
                <li><a class="nav-link" href="#code_kbd">键盘文本</a></li>
                <li><a class="nav-link" href="#code_pre">键盘文本</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="#table">表格</a>
              <ul class="nav">
                <li><a class="nav-link" href="#table_default">默认表格</a></li>
                <li><a class="nav-link" href="#table_responsive">响应式表格</a></li>
                <li><a class="nav-link" href="#table_sm">紧凑型表格</a></li>
                <li><a class="nav-link" href="#table_striped">带条纹表格</a></li>
                <li><a class="nav-link" href="#table_bordered">带边框表格</a></li>
                <li><a class="nav-link" href="#table_row_status">表格行状态</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="#form">表单</a>
              <ul class="nav">
                <li><a class="nav-link" href="#">默认表单</a></li>
                <li><a class="nav-link" href="#">表单</a></li>
                <li><a class="nav-link" href="#">表单</a></li>
                <li><a class="nav-link" href="#">表单</a></li>
                <li><a class="nav-link" href="#">表单</a></li>
                <li><a class="nav-link" href="#">表单</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="#button">按钮</a>
              <ul class="nav">
                <li><a class="nav-link" href="#button_brand">默认按钮</a></li>
                <li><a class="nav-link" href="#button_outline">轮廓按钮</a></li>
                <li><a class="nav-link" href="#button_link">链接按钮</a></li>
                <li><a class="nav-link" href="#button_assist">增强样式</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="#image">图片</a>
              <ul class="nav">
                <li><a class="nav-link" href="#image_responsive">响应式图片</a></li>
                <li><a class="nav-link" href="#image_style">图片样式</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="fi-docs-footer">
  <div class="container">
    <p class="text-center">Designed by my kelp and built by yayo.</p>
    <p class="text-center">wellcome to feedback, and we will make it better.</p>
    <ul class="list-group list-group-hz center">
      <li class="list-group-item"><a href="javascript:;" class="text-muted">当前版本1.0.0</a></li>
      <li class="list-group-item"><a href="javascript:;">github</a></li>
    </ul>
  </div>
</footer>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/flyimt.min.js"></script>
<script>
  (function() {

    // BEGIN: 通过滚动距离设置侧边导航的position
    //

    $(window).scroll(function() {
      var yheight = getScrollTop(); //滚动条距顶端的距离
      var referenceTop = $('#grid').offset().top;

      if(yheight >= referenceTop) {
        $('.sidebar').css({'position':'fixed','top':'0','padding-top':'20px'})
      }else {
        $('.sidebar').css({'position':'static'})
      }

    })

    /**
     * 获取滚动条距离顶端的距离
     * @return {}支持IE6
     */
    function getScrollTop() {
      var scrollPos;
      if (window.pageYOffset) {
        scrollPos = window.pageYOffset;
      }
      else if (document.compatMode && document.compatMode != 'BackCompat') {
        scrollPos = document.documentElement.scrollTop;
      }
      else if (document.body) {
        scrollPos = document.body.scrollTop;
      }
      return scrollPos;
    }

    //
    // END: 通过滚动距离设置侧边导航的position
  })()
</script>
</body>
</html>