<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../../css/flyimt.css"/>
  <link rel="stylesheet" href="../../css/common.css"/>
  <link rel="stylesheet" href="../../css/introduction.css"/>
  <title></title>
</head>
<body>
<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars"></i>
      </button>

      <a href="../index.html" class="navbar-brand">FlyImt</a>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块1</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块2</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块3</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块4</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:;">Flyimt</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="javascript:;">简介</a></li>
              <li class="dropdown-item"><a href="javascript:;">开始</a></li>
              <li class="dropdown-item"><a href="javascript:;">全局样式</a></li>
              <li class="dropdown-item"><a href="javascript:;">组件</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div id="content" class="fi-docs-masthead">
    <div class="container">
      <span class="fi-docs-fiicon m-b-4">Fi</span>
      <p class="lead">Flyimt，全称Flying Immortal，是作者出于兴趣和学习的目的而形成的一个HTML，CSS，JS框架。</p>
      <button class="btn btn-lg btn-success m-b-2">下载Flyimt</button>
      <p class="font-sm text-muted">当前版本: 1.0.0</p>
    </div>
  </div>

  <div class="fi-docs-feature">
    <div class="container">
      <h2 class="fi-docs-title">麻雀虽小，五脏俱全</h2>
      <h4 class="m-b-10 text-muted">Flyimt 满足前端开发的基本需求，大到响应式，小到一个文本的大小设置，应有尽有。</h4>
      <div class="row">
        <div class="col-sm-4">
          <a href="http://www.w3cplus.com/sassguide/"><img class="img-responsive" src="../../img/sass.png" alt=""/></a>
          <h3>预处理器</h3>
          <p>Flyimt 的源码是基于 CSS 预处理脚本之一的 Sass 开发的。你可以采用预编译的 CSS 文件快速开发，也可以从源码定制自己需要的样式。
            当然你也可以直接使用 flyimt 提供的 CSS 样式表。</p>
        </div>

        <div class="col-sm-4">
          <img class="img-responsive" src="../../img/responsive.png" alt=""/>
          <h3>响应式布局</h3>
          <p>响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验，而且随着目前大屏幕移动设备的普及，用“大势所趋”来形容也不为过。
            随着越来越多的设计师采用这个技术，我们不仅看到很多的创新，还看到了一些成形的模式。Flyimt 在PC端表现良好，手机端可用。</p>
        </div>

        <div class="col-sm-4">
          <img class="img-responsive" src="../../img/document.png" alt=""/>
          <h3>五脏俱全</h3>
          <p>Flyimt 能满足前端大部分的需求，而且附带了详细的开发文档，以及作者在写作过程中的心得体会。</p>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <p>Designed by my girlfriend and built by me.</p>
    <p>wellcome to feedback, and we will make it better.</p>
    <ul>
      <li></li>
    </ul>
  </div>
</footer>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/flyimt.min.js"></script>
</body>
</html>