<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body data-spy="scroll" data-offset="180">
<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
        <i class="fa fa-bars"></i>
      </button>

      <a href="../index.html" class="navbar-brand">FlyImt</a>

      <div id="" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="javascript:;">敬请期待</a></li>
          <li><a href="javascript:;">敬请期待</a></li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:;">Flyimt</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="./introduction.html">简介</a></li>
              <li class="dropdown-item"><a href="./start.html">开始</a></li>
              <li class="dropdown-item"><a href="./global.html">全局样式</a></li>
              <li class="dropdown-item"><a href="./components.html">组件</a></li>
              <li class="dropdown-item"><a href="./plugins.html">插件</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<script src="../js/jquery.min.js"></script>
<script src="../js/flyimt.min.js"></script>
</body>
</html>