<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../../css/flyimt.css"/>
  <link rel="stylesheet" href="../../css/common.css"/>
  <link rel="stylesheet" href="../../css/docs.css"/>
  <title></title>
</head>
<body>
<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars"></i>
      </button>

      <a href="../index.html" class="navbar-brand">FlyImt</a>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块1</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块2</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块3</a></li>
          <li class="nav-item"><a href="javascript:;" class="nav-link">模块4</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:;">Flyimt</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="introduction.html">简介</a></li>
              <li class="dropdown-item"><a href="javascript:;">开始</a></li>
              <li class="dropdown-item"><a href="javascript:;">全局样式</a></li>
              <li class="dropdown-item"><a href="javascript:;">组件</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="fi-docs-masthead">
    <div class="container">
      <h1>开始</h1>
      <h4>简要的介绍Flyimt，以及下载、使用。</h4>
    </div>
  </div>

  <div class="fi-docs-feature">
    <div class="container">
      <h1 class="fi-docs-title m-b-6">下载</h1>
      <h5 class="m-b-6">Flyimt 提供两种方式供您使用。</h5>
      <div class="row">
        <div class="col-sm-4">
          <h3>开发环境</h3>
          <p>编译并且压缩后的css、javascript文件，不含文档和源代码。</p>
          <button type="button" class="btn btn-block btn-lg btn-success-outline">下载Flyimt</button>
        </div>
        <div class="col-sm-4">
          <h3>源码</h3>
          <p>作者的所有开发源码，包括sass、JavaScript 和 字体文件、文档、工具等。</p>
          <button type="button" class="btn btn-block btn-lg btn-success-outline">下载源码</button>
        </div>
      </div>

      <div class="divider-lg"></div>

      <h1 class="fi-docs-title m-b-6">使用</h1>
      <h5 class="m-b-6">使用 Flyimt 需要引入css、js文件以及字体文件。</h5>

      <h3>引用css文件</h3>
      <pre>
        <code>
          <span class="label">&lt;link</span>
          <span class="attr">href=</span><span class="value">"路径/flyimt.css"</span><span class="label">/></span>
        </code>
      </pre>

      <h3>引用js文件</h3>
      <p class="text-danger">flyimt.js依赖jquery。</p>
      <pre>
        <code>
          <span class="label">&lt;script</span>
          <span class="attr">src=</span><span class="value">"路径/jquery.min.js"</span><span class="label">/>&lt;/script></span>

          <br/>

          <span class="label">&lt;script</span>
          <span class="attr">src=</span><span class="value">"路径/flyimt.min.js"</span><span class="label">/>&lt;/script></span>
        </code>
      </pre>

      <div class="divider-lg"></div>

      <h1 class="fi-docs-title m-b-6">兼容性</h1>
      <p>flyimt使用了大量的h5，css3的特性，建议运用于使用现代浏览器的场景，具体的兼容性作者还未做测试。</p>
    </div>
  </div>
</main>

<footer class="fi-docs-footer">
  <div class="container">
    <p class="text-center">Designed by my kelp and built by me.</p>
    <p class="text-center">wellcome to feedback, and we will make it better.</p>
    <ul class="list-group list-group-hz center">
      <li class="list-group-item"><a href="javascript:;" class="text-muted">当前版本1.0.0</a></li>
      <li class="list-group-item"><a href="javascript:;">github</a></li>
    </ul>
  </div>
</footer>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/flyimt.min.js"></script>
</body>
</html>