<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<nav class="navbar">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
    <i class="fa fa-bars"></i>
  </button>

    <a href="index.html" class="navbar-brand">FlyImt</a>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav nav-brands navbar-nav">
        <li class="nav-item"><a href="javascript:;" class="nav-link">开始</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link">全局样式</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link">组件</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  你们都走开，我要发功装逼le
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/flyimt.min.js"></script>
</body>
</html>
