<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="description" content="这是一个前端框架，融入大量的css3和h5的元素。" />
  <meta name="keywords" content="前端,framework,h5，css3" />

  <!-- build:css -->
  <link rel="stylesheet" href="../css/yyui.css"/>
  <link rel="stylesheet" href="../css/yyui-site.css"/>
  <link rel="stylesheet" href="../css/common.css"/>
  <link rel="stylesheet" href="../css/docs.css"/>
  <!-- endbuild -->

  <title>简介·YY UI -- 好用的前端框架</title>
  <link rel="icon" href="../yyuiicon.ico"/>
</head>
<body>
<header>
  <nav class="navbar navbar-yyui-site">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars"></i>
      </button>

      <a href="index.html" class="navbar-brand">YY UI</a>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="introduction.html">简介</a></li>
          <li><a href="start.html">开始</a></li>
          <li><a href="global.html">全局样式</a></li>
          <li><a href="components.html">组件</a></li>
          <li><a href="plugins.html">插件</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="yyui-docs-masthead text-center">
    <div class="container">
      <span class="yyui-docs-log">Y</span>
      <p class="lead">YY UI，是 YaYo 出于兴趣和学习的目的而形成的一个前端框架。</p>
      <a class="btn btn-lg btn-theme m-b-2" href="../files/yyui-1.0.0.zip">下载 YY UI</a>
      <p class="font-sm text-light">当前版本: 1.0.0</p>
    </div>
  </div>

  <div class="yyui-docs-feature text-center">
    <div class="container">
      <h2 class="yyui-docs-title">麻雀虽小，五脏俱全</h2>
      <h4 class="m-b-10 text-muted">YY UI 满足前端开发的基本需求，大到响应式，小到一个文本的大小设置，应有尽有。</h4>
      <div class="row">
        <div class="col-sm-4 m-t-10">
          <a href="http://www.w3cplus.com/sassguide/" target="_blank"><img class="img-responsive" src="../img/sass.png" alt=""/></a>
          <h3>预处理器</h3>
          <p class="text-indent">YY UI 的源码是基于 CSS 预处理脚本之一的 Sass 开发的。你可以采用预编译的 CSS 文件快速开发，也可以从源码定制自己需要的样式。
            当然你也可以直接使用 YY UI 提供的 CSS 样式表。</p>
        </div>

        <div class="col-sm-4 m-t-10">
          <img class="img-responsive" src="../img/responsive.png" alt=""/>
          <h3>响应式布局</h3>
          <p class="text-indent">响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验，而且随着目前大屏幕移动设备的普及，用“大势所趋”来形容也不为过。
            随着越来越多的设计师采用这个技术，我们不仅看到很多的创新，还看到了一些成形的模式。YY UI 在PC端表现良好，手机端可用。</p>
        </div>

        <div class="col-sm-4 m-t-10">
          <img class="img-responsive" src="../img/document.png" alt=""/>
          <h3>五脏俱全</h3>
          <p class="text-indent">YY UI 能满足前端大部分的需求，而且附带了详细的开发文档，以及 yayo 在写作过程中的心得体会。</p>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="yyui-docs-footer">
  <div class="yyui-docs-slogan text-center">
    <div class="slogan-1"></div>
    <p class="text-center">学无止境</p>
  </div>
  <div class="container">
    <p class="text-center">Designed by kelp and built by yayo.</p>
    <p class="text-center">wellcome to feedback, and we will make it better.</p>
    <ul class="list-inline text-center">
      <li><a href="javascript:;" class="text-muted">当前版本1.0.0</a></li>
      <li><a href="https://github.com/yayocn/yyui" target="_blank">github</a></li>
    </ul>
  </div>
</footer>

<!-- build:js -->
<script src="../js/jquery.min.js"></script>
<script src="../js/yyui.min.js"></script>
<!-- endbuild -->

</body>
</html>